.mycawsCollection {
  background: #312f69;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  padding: 20px;
  margin-top: 14rem;
}


.premium-gold-bg {
  border-radius: 12px;
  border: 0.5px solid #ffbf00;
  background: linear-gradient(
    180deg,
    rgba(255, 191, 0, 0.25) -23.88%,
    rgba(255, 191, 0, 0) 99.99%
  );
  box-shadow: 0px 32px 64px 0px rgba(17, 17, 17, 0.12);
}

.lifetime-plan {
  color: #fff;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 14px; /* 100% */
}

.plan-cost {
  color: #f7f7fc;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 114.286% */
}

.subscription-chain {
  color: #f7f7fc;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup-subtitle {
  color: #f7f7fc;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.premium-benefits-wrapper {
  border-radius: 12px;
  border: 0.5px solid #8e97cd;
  background: rgba(23, 25, 50, 0.4);
  box-shadow: 0px 32px 64px 0px rgba(17, 17, 17, 0.12);
}

.premium-benefits-title {
  color: #f7f7fc;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.premium-benefits-item {
  color: #f7f7fc;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscription-price-text {
  color: #d6d8e7;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.216px;
}

.subscription-price-token {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.subscription-price-usd {
  color: #7dd9af;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.my-premium-balance-text {
  color: #ffeace;
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.18px;
}

.premium-chains-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.mycawscollection-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #f7f7fc;
}

.gotoNebula-wrapper {
  border-radius: 6px;
  background: linear-gradient(90deg, rgb(167 49 195 / 60%) 33%, rgb(98 57 195 / 60%) 100%);
}

.nebula-wrapper-text {
  color: #f7f7fc;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

.ethereumTagwrapper {
  gap: 5px;
  z-index: 1;
  border-radius: 8px;
  border: 0.5px solid #5B75DA;
  background: linear-gradient(95deg, #1E1C40 0%, #5B75DA 100%);
  width: 90px;
  height: 24px;
  transform: translateX(-50%);
  position: absolute;
  top: -15px;
  left: 33%;
}

.baseTagwrapper {
  gap: 5px;
  z-index: 1;
  border-radius: 8px;
  border: 0.5px solid #5B75DA;
  background: linear-gradient(95deg, #1E1C40 0%, #5B75DA 100%);
  width: 95px;
  height: 24px;
  transform: translateX(-50%);
  position: absolute;
  top: -15px;
  left: 33%;
}


.bnbTagwrapper {
  border-radius: 8px;
  border: 0.5px solid #FFD632;
  background: linear-gradient(95deg, #1E1C40 0%, #FFD632 100%);
  z-index: 1;
  transform: translateX(-50%);
  position: absolute;
  top: -15px;
  left: 33%;
  width: 90px;
  height: 24px;
  gap: 5px;

}

.avaxTagWrapper {
  border-radius: 8px;
  border: 0.5px solid #E84142;
  background: linear-gradient(95deg, #1E1C40 0%, #E84142 100%);
  gap: 5px;
  z-index: 1;
  transform: translateX(-50%);
  position: absolute;
  top: -15px;
  left: 33%;
  width: 90px;
  height: 24px;
}

.nebula-bridgebtn {
  border-radius: 6px;
  border: 1px solid #00c899;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  padding: 5px 10px;
}

.nebula-bridgebtn:hover {
  text-decoration: underline;
  color: #fff;
}

.cawscontaier {
  position: absolute;
  left: 30%;
  top: -180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nft-ethereum-tag {
  background: linear-gradient(261.8deg, #5c76db -1.7%, #8197ee 91.47%);
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  position: absolute;
  left: 3%;
  top: -20px;
}

.nft-ethereum-span {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #f7f7fc;
}

.subscribe-wrapper {
  width: 40%;
  height: fit-content;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 1000px rgb(0 0 0 / 50%);
  z-index: 11;
}

.my-plan-tag {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #c0cbf7 !important;
}

.plan-tag {
  background: #312f69;
  border: 1px solid #f5c96c;
  border-radius: 8px;
  /* cursor: pointer; */
}

.plan-tag-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #f7f7fc;
}

.plans-page-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #f7f7fc;
  width: 40%;
}

.plans-page-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c0c9ff !important;
  width: 40%;
}

.plans-benefits {
  background: #312f69;
  border: 2px solid #8e97cd;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  width: 30%;
  height: 250px;
}

.green-check {
  position: relative;
  bottom: 4px;
}

.plans-benefit-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #f7f7fc;
}

.premium-subscribe-wrapper {
  background: #312f69;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  height: 250px;
}

.success-btn {
  color: #ffffff !important;
  background: linear-gradient(90.74deg, #75cac2 0%, #57b6ab 100%);
  border: none !important;
  border-radius: 8px;
  opacity: 1 !important;
}

.premium-dyp-wrapper {
  position: relative;
  width: 30%;
  height: 200px;
  background: radial-gradient(
    80.22% 120.33% at 47.12% -10.1%,
    #8969d7 0%,
    #482193 100%
  );
  border-radius: 12px;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.premium-dyp-banner {
  width: 90%;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 50px;
  margin: auto;
}

.premium-gradient {
  background: linear-gradient(81.57deg, #c42c71 6.19%, #5833a4 87.15%);
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  position: relative;
  top: -50px;
}
.premium-span {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.premium-price {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #f7f7fc;
}

.lifetime-subscription {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.018em;
  color: #ffffff;
}

.lifetime-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.018em;
  color: #ffffff;
}

.dyp-balances-wrapper {
  background: #312f69;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
}
.wod-wrapper {
  background-image: url("https://cdn.worldofdypians.com/tools/gameBanner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  height: 100%;
  background-position: center;
}

@media only screen and (max-width: 767px) {
  .wod-wrapper {
    background-image: url("https://cdn.worldofdypians.com/tools/gameBannerMobile.webp");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
    border-radius: 12px;
    height: 190px;
    background-position: center;
  }

}

.wod-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #f7f7fc;
  width: 50%;
}

.balances-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.dyp-balance-wrapper {
  background: #565891;
  border-radius: 8px;
}

.balance-amount {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.cawscontaier-open {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
  .cawscontaier,
  .cawscontaier-open {
    grid-template-columns: repeat(1, 1fr);
  }

  .wod-title {
    width: 100%;
  }
  .dyp-balance-wrapper {
    width: 100%;
  }

  .mycawsCollection {
    margin-top: 2rem;
  }

  .subscribe-wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 756px) {
  .cawscontaier,
  .cawscontaier-open {
    grid-template-columns: repeat(2, 1fr);
  }
  .cawscontaier {
    position: relative;
    left: auto;
    top: auto;
  }
}

.account-username {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #f7f7fc !important;
  white-space: pre;
}

.premium-dyp-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #f7f7fc;
  color: #f7f7fc !important;
  margin-bottom: 10px;
}

.address-span {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #c0cbf7 !important;
}

.account-wallet-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.018em;
  color: #f7f7fc !important;
}

.clear-icon {
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.dyp-amount-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #f7f7fc !important;
}

.account-dyp-amount {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  color: #f7f7fc !important;
}

.avatar-border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #857dfa;
  height: 56px;
  width: 56px;
}

.add-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.free-plan-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #f7f7fc !important;
}

.free-plan-container {
  background: #312f69;
  border-radius: 12px;
}

.green-border {
  border: 2px solid #50af95;
}

.green-div {
  top: 15px;
  z-index: 1;
  left: 12px;
  background: rgb(142, 151, 205);
}

.free-plan-item:nth-child(odd) {
  background: #565891;
  border-radius: 8px;
}

.free-plan-items-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #f7f7fc !important;
}

.free-plan-image {
  background-image: url("https://cdn.worldofdypians.com/tools/freePlanBackground.png");
  background-repeat: no-repeat;
  background-position: center;
}
.paid-plan-image {
  background-image: url("https://cdn.worldofdypians.com/tools/paidPlanBackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 145%;
}

.inactive-plan {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #8e97cd !important;
}
.active-plan {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4fad93 !important;
}

.user-cardImg {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(33, 36, 64, 0.15) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 1px solid #494b61;
}

.user-cardImg-active {
  background: linear-gradient(
    180deg,
    rgba(27, 245, 255, 0.15) 0%,
    rgba(118, 15, 90, 0) 100%,
    rgba(33, 36, 64, 0) 100%
  );
  border-radius: 10px;
  border: 1px solid #494b61;
}


.bordereddiv {
  padding: 10px 20px;
  border-radius: 10px;
  border-bottom: 1px solid #494b61;
}

.user-cardImg-active-premium {
  background: linear-gradient(
    180deg,
    rgba(255, 191, 0, 0.4) 0%,
    rgba(33, 36, 64, 0.2) 100%
  );
  border-radius: 10px;
  border: 1px solid #494b61;
}

.pill-btn {
  background: linear-gradient(90deg, #7bd8af -10.16%, #d9fa86 129.3%);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #080b2a;
  border: none;
}


.errorbtn {
  background: linear-gradient(90deg, #ffac45 -10.16%, #ff6232 129.3%);
  color: white !important;
  border-radius: 8px;
  border: none;
}



.walletconnectBtn {
  background: linear-gradient(
      0deg,
      rgba(0, 254, 207, 0.3),
      rgba(0, 254, 207, 0.3)
    ),
    linear-gradient(
      112.83deg,
      rgba(255, 255, 255, 0.47) 0%,
      rgba(255, 255, 255, 0) 110.84%
    );
  box-shadow: 0px 4px 12px rgba(0, 254, 207, 0.24);
  /* backdrop-filter: blur(4px); */
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  margin: 0 0 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.018em;
  color: #f7f7ff;
  border: none;
}

.premiumtext-alert {
  color: #ed8225;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: fit-content;
}

.balance-item-wrapper {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.syncbtn {
  border-radius: 10px;
  background: linear-gradient(90deg, #830e47 0%, #5065c3 100%);
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  border: none;
}


.subscribe-container {
  background: #312f69;
  border: 2px solid #8e97cd;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 991px) {
  .subscribe-container {
  height: 500px;
  }
}

.token-amount-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.018em;
  color: #d6d8e7 !important;
}

.token-balance-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #4cd0cd !important;
}

.account-token-amount {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  text-align: right;
  letter-spacing: -0.018em;
  color: #4cd0cd !important;
}

.subscription-token-wrapper {
  background: #2b2a59;
  border-radius: 8px;
}

.usdt-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #f7f7fc !important;
}

/* .subscribe-input-container {
  width: 40%;
} */

.favorites-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.poolrows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 991px) {
  .poolrows {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 786px) {
  .poolrows {
    grid-template-columns: repeat(1, 1fr);
  }
  .account-dyp-amount {
    text-align: left;
  }
  .dyp-amount-placeholder {
    text-align: left;
  }
  /* .subscribe-input-container {
    width: 100%;
  } */

  .favorites-grid {
    grid-template-columns: auto;
  }

  .plans-page-title,
  .plans-page-desc,
  .plans-benefits,
  .premium-subscribe-wrapper,
  .premium-dyp-wrapper {
    width: 100% !important;
  }

  .all-plans-wrapper {
    gap: 80px !important;
  }

  .premium-dyp-wrapper {
    margin-top: 4rem !important;
  }

  .premium-dyp-banner {
    width: 90%;
  }
}
