.mycawsCollection {
  background: #312f69;
  box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
  border-radius: 12px;
  padding: 20px;
  margin-top: 14rem;
}

.mycawscollection-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #f7f7fc;
}

.cawscontaier {
  position: absolute;
  left: 23%;
  top: -180px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cawscontaier-open {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 600px) {
  .cawscontaier, .cawscontaier-open {
    grid-template-columns: repeat(1, 1fr);
  }


}

@media only screen and (max-width: 756px) {
  .cawscontaier, .cawscontaier-open {
    grid-template-columns: repeat(2, 1fr);
  }
  .cawscontaier {
    position: relative;
    left: auto;
    top: auto;
  }
}

.account-username{
  font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #F7F7FC !important;
white-space: pre;
}

.address-span{
  font-weight: 400;
font-size: 10px;
line-height: 15px;
letter-spacing: 0.4px;
color: #C0CBF7 !important;
}

.account-wallet-address{
  font-weight: 500;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.018em;
color: #F7F7FC !important;
}

.clear-icon{
  position: absolute;
  right: 5%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.dyp-amount-placeholder{
  font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: right;
color: #F7F7FC !important;
} 

.account-dyp-amount{
  font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: right;
color: #F7F7FC !important;
}

.avatar-border{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  border: 2px solid #857DFA;
  height: 56px;
  width: 56px;
}

.add-image{
  position: absolute;
  right: 0;
  bottom: 0;
}

.free-plan-title{
  font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #F7F7FC !important;
}

.free-plan-container{
  background: #312F69;
border-radius: 12px;
}


.free-plan-item:nth-child(odd){
  background: #565891;
  border-radius: 8px;
}

.free-plan-items-text{
  font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #F7F7FC !important;
}

.free-plan-image{
  background-image: url('./assets/freePlanBackground.png');
  background-repeat: no-repeat;
  background-position: center;
}
.paid-plan-image{
  background-image: url('./assets/paidPlanBackground.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% 145%;
}

.inactive-plan{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #8E97CD !important;
}
.active-plan{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4FAD93 !important;
}

.subscribe-container{
  background: #312F69;
border: 2px solid #8E97CD;
box-shadow: 0px 32px 64px rgba(17, 17, 17, 0.12);
border-radius: 12px;
}

.token-amount-placeholder{
  font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.018em;
color: #D6D8E7 !important;
}

.token-balance-placeholder{
  font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: right;
letter-spacing: -0.018em;
color: #4CD0CD !important;
}

.account-token-amount{
  font-weight: 500;
font-size: 28px;
line-height: 42px;
text-align: right;
letter-spacing: -0.018em;
color: #4CD0CD !important;
}


.subscription-token-wrapper{
  background: #2B2A59;
border-radius: 8px;
}

.usdt-text{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #F7F7FC !important;
}

.subscribe-input-container{
  width: 40%;
}

.favorites-grid{
  display: grid;
    gap: 30px ;
    grid-template-columns: repeat(4, 1fr) ;
}

.poolrows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 991px) {
  .poolrows{
  grid-template-columns: repeat(2, 1fr);

  }
}


@media screen and (max-width: 786px) {
  .poolrows{
    grid-template-columns: repeat(1, 1fr);
  
    }
  .account-dyp-amount{
    text-align: left;
  }
  .dyp-amount-placeholder{
    text-align: left;
  }
  .subscribe-input-container{
    width: 100%;
  }

  .favorites-grid{
    grid-template-columns: auto;
  }
}